.customBackground{
    background: rgba(255, 255, 255, 0.7)!important;
}

.customBackgroundTransparent{
    background: transparent!important;
}

.finallyCreate{
    position: absolute;
    bottom: 5%;
    right: 30px;
    width: 100px!important;
    height: 35px;
}

@media all and (max-width: 500px){
    .adaptive{
        width: 80px!important;
        height: 28px!important;
    }
}

@media all and (max-width: 400px){
    .adaptive{
        width: 70px!important;
        height: 28px!important;
    }
}
