.customBackground{
    background: #FFFFFF!important;
}

.customBackgroundTransparent{
    background: transparent!important;
}

.finallyCreate{
    position: absolute;
    bottom: 5%;
    right: 30px;
    width: 100px!important;
    height: 35px;
}
