.navBar{
    height: 60px;
    color: white!important;
    border-bottom: 3px solid #000000!important;
    transition: 2s;
}

.navBar:hover{
    color: #F05016!important;
    border-bottom: 3px solid #F05016!important;
}

.navBar:active{
    color: #F05016!important;
    border-bottom: 3px solid #F05016!important;
}
