.modalWrapper{
    width: 350px!important;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #F05016!important;
    box-sizing: border-box;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.5)!important;
    border-radius: 10px!important;
}
