.sidebar {
    background: #FFFFFF !important;
    width: 300px !important;
}

@media only screen and (max-width: 767px){
    .ui.stackable.grid > .column:not(.row) {
        padding: 0!important;
    }
}

.coinImage{
    right: -10px!important;
}

@media screen and (max-width: 500px) {
    .sidebar{
        width: 70% !important;
    }
}

@media only screen and (max-width: 767px){
    .ui.modal > .header {
        padding: 1.25rem 1.5rem!important;
    }
}

.customColumnSidebars{
    padding-bottom: 0!important;
}