.sidebar {
    background: #FFFFFF !important;
    width: 300px !important;
}

.customColumnSidebars{
    padding-bottom: 0!important;
}

.ui.loader:after {
    border-color: #767676 transparent transparent!important;
}

.errorMessage{
    position: absolute!important;
    z-index: 2;
    right: 10px;
    left: 10px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

.errorMessageHeader{
    font-size: 20px!important;
    text-align: center!important;
    margin-bottom: 10px!important;
}

.errorMessageText{
    font-size: 16px!important;
    text-align: center!important;
}

.closeMessageError{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.coinImage{
    right: 30px!important;
}

.swordImage{
    right: 20px!important;
}

.ui.progress:last-child {
    margin: 0!important;

}

.ui.accordion{
    text-align: right;
}

.ui.accordion .title:not(.ui){
    padding-bottom: 0;
}

.ui.accordion:not(.styled) .title~.content:not(.ui):last-child {
    padding-top: 0;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.6);
    background: white;
}

.listAbsolute{
    position: absolute;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.6);
    background: white;
    z-index: 2;
    right: 0;
    margin-top: 5px!important;
}

.listRelative{
    position: relative;
}

.listItemHover{
    padding: 5px!important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listItemHover:hover{
    background: rgba(100, 100, 100, 0.1);
    cursor: pointer;
}

.listItemHover:hover .ghFoA-D{
    color: rgba(0,0,0,.87);
}

.userBlock{
margin: 0 40px 5px 0!important;
}

@media screen and (max-width: 500px) {
    .sidebar{
        width: 70% !important;
    }
}

@media only screen and (max-width: 767px){
    .ui.stackable.grid > .column:not(.row) {
        padding: 0!important;
    }

    .ui.modal > .header {
        padding: 1.25rem 1.5rem!important;
    }

    .errorMessage{
        right: 0;
        left: 0;
        height: 170px;
    }
}

@media screen and (max-width: 1200px) {
    .userBlock{
        margin: 0 25px 5px 0!important;
    }
    .coinImage{
        right: 15px!important;
    }

    .swordImage{
        right: 10px!important;
    }
}
